In [ ]:
import numpy as np
import pandas as pd
# Series
data = pd.Series([1,2,5,7])
data

In [ ]:
data.values

In [ ]:
data.index

In [ ]:
data[1]

In [ ]:
data[1:3]
# Bỏ biên bên phải nếu index là số

In [ ]:
print(data.count())

In [ ]:
# Index có thể rời rạc, thứ tự lộn xộn
data = pd.Series([1,2,5,7], index=['a','b','c','d'])
data

In [ ]:
# Tạo series từ Dictionary
pop_dic = {'Hà Nội':387,'Sài Gòn':210,'Hải Phòng':310}
pop = pd.Series(pop_dic)
pop

In [ ]:
pop['Hà Nội']

In [ ]:
pop['Hà Nội':'Sài Gòn']
# Lấy cả biên bên phải nếu index là string

In [ ]:
pd.Series([2,4,6])

In [ ]:
pd.Series(5,index=[100,200,300])
# Tạo ra nhiều giá trị giống nhau theo index

In [ ]:
# Tạo ra từ dic nhưng có index=>Chỉ tạo theo index. Nếu có index không có giá trị thì NaN
pd.Series({2:'a',1:'b',3:'c'},index=[3,2])

In [ ]:
pop_area = {'Hà Nội':110,'Sài Gòn':200,'Hải Phòng':110}
area = pd.Series(pop_area)
area

In [ ]:
# Tạo từ dic, key là tên cột
state = pd.DataFrame({'pop':pop,'area':area})
state

In [ ]:
state.index

In [ ]:
# Truy cập dữ liệu của cột thông qua tên cột
state['area']

In [ ]:
# Khởi tạo từ 1 series
pd.DataFrame(area,columns=['area'])

In [ ]:
# Tạo từ list dict
data = [{'a':i,'b':2*i} for i in range(3)]
data
pd.DataFrame(data)

In [ ]:
# pandas with NaN values
pd.DataFrame([{'a':1,'b':2},{'b':3,'c':4}])

In [ ]:
# Tạo từ array numpy, theo kích thước array nếu sai thì lỗi
pd.DataFrame(np.random.rand(3,2),columns=['foo','bar'],index=['a','b','c'])

# From a Numpy structured array

In [ ]:
A=np.zeros(3,dtype=[('A','i8'),('B','f8')])

In [ ]:
A

In [ ]:
pd.DataFrame(A)

# The Pandas index Object

In [ ]:
# Không chỉnh sửa đc
ind = pd.Index([2,3,4,5,7,11])
ind

In [ ]:
ind[1]

In [ ]:
ind[::2]

In [ ]:
print(ind.size, ind.shape,ind.ndim, ind.dtype)
# shape là vecto
# ndim là số chiều

In [ ]:
# Thao tác với index
# intersection => &
# union => |
# symmetric_difference => ^

ind2 = pd.Index([1,3,4,5,7,15])

In [ ]:
ind & ind2

In [ ]:
ind.intersection(ind2)

In [ ]:
ind | ind2

In [ ]:
ind.union(ind2)

In [ ]:
ind ^ ind2

In [ ]:
ind.symmetric_difference(ind2)

# 4 Data indexing and selection

## Data Selection in Series

In [ ]:
data = pd.Series([0.25,0.5,0.75,1.0],index=['a','b','c','d'])
data

In [ ]:
# Chỉ số tường minh
data['b']

In [ ]:
# Chỉ số ngầm định
data[1]

In [ ]:
data.keys()

In [ ]:
list(data.items())

In [ ]:
# Extend
data['e'] = 1.25
data

In [ ]:
data['a':'c']

In [ ]:
data[0:2]

In [ ]:
# masking
data[(data > 0.3) & (data < 0.8)]

In [ ]:
#fancy indexing: truyền vào 1 list index
data[['a','e']]

## indexers: loc, iloc

In [ ]:
data = pd.Series(['a','b','c'],index=[1,3,5])
data

In [ ]:
# Chỉ số tuowngf minh
data[1]

In [ ]:
# Chỉ số ngầm định khi slicing
data[1:3]

In [ ]:
data.loc[1]

In [ ]:
data.iloc[1]

## data Select in dataframe

# Working with DataFrame
###### Làm việc với các file (csv, xls,xlsx,json,fdf5,html...)
###### Mô tả cấu trúc dữ liệu DF
###### Chỉnh sửa cấu trúc bộ dữ liệu
###### Xác định các giá trị thống kê mô tả của các biến định tính, định lượng
###### Hợp nhất dữ liệu từ nhiều DF
###### Tạo bảng tổng hợp pivot table

In [10]:
import pandas as pd
data = pd.read_csv('Data/students.csv', encoding = 'utf-8')
data

,Mã học sinh,Họ tên,Ngày sinh,Giới tính,Quê quán,Toán,Lý,Hoá,Sinh,Văn,Sử,Địa,Tiếng Anh
0,20205210,Nguyễn Đức Bình,3/10/2000,Nam,Hà Nội,7.0,8.0,8.8,6.8,4.0,5.4,5.6,8.5
1,20205211,Lê Minh Hoàng,2/11/2001,Nam,Quảng Bình,5.6,7.7,6.0,7.0,6.5,6.0,3.4,9.0
2,20205212,Trần Trang Nhung,7/5/2002,Nữ,Hà Nam,4.2,6.5,5.4,8.0,7.0,7.5,4.3,5.5
3,20205213,Nguyễn Thị Linh,12/17/2000,Nữ,Bắc Ninh,8.0,5.6,6.5,7.0,7.5,6.5,5.6,6.0
4,20205214,Đặng Ngọc Sơn,1/25/2000,Nam,Thái Bình,9.3,5.8,7.5,4.5,6.5,4.5,7.8,3.8
5,20205215,Hà Trung Kiên,4/3/2000,Nam,Hà Nội,5.6,7.0,5.6,5.0,6.4,3.8,8.0,4.9
6,20205216,Võ Hoàng Yến,6/21/2000,Nữ,Nam Định,6.7,6.8,7.3,6.0,6.7,8.0,9.5,7.6
7,20205217,Hoàng Trung Sơn,8/27/2000,Nam,Bắc Ninh,7.5,9.0,7.0,2.0,5.2,2.0,7.0,6.5
8,20205218,Nguyễn Văn Thành,5/20/2000,Nam,Hà Nội,7.0,7.4,6.4,9.0,8.5,9.2,8.4,7.8
9,20205219,Nguyễn Thanh Oai,5/25/2000,Nam,Hà Nội,8.2,7.0,8.7,6.5,4.8,4.6,4.8,5.5

In [11]:
data['Khối A'] = data['Toán']+data['Lý']+data['Hoá']
data

,Mã học sinh,Họ tên,Ngày sinh,Giới tính,Quê quán,Toán,Lý,Hoá,Sinh,Văn,Sử,Địa,Tiếng Anh,Khối A
0,20205210,Nguyễn Đức Bình,3/10/2000,Nam,Hà Nội,7.0,8.0,8.8,6.8,4.0,5.4,5.6,8.5,23.8
1,20205211,Lê Minh Hoàng,2/11/2001,Nam,Quảng Bình,5.6,7.7,6.0,7.0,6.5,6.0,3.4,9.0,19.3
2,20205212,Trần Trang Nhung,7/5/2002,Nữ,Hà Nam,4.2,6.5,5.4,8.0,7.0,7.5,4.3,5.5,16.1
3,20205213,Nguyễn Thị Linh,12/17/2000,Nữ,Bắc Ninh,8.0,5.6,6.5,7.0,7.5,6.5,5.6,6.0,20.1
4,20205214,Đặng Ngọc Sơn,1/25/2000,Nam,Thái Bình,9.3,5.8,7.5,4.5,6.5,4.5,7.8,3.8,22.6
5,20205215,Hà Trung Kiên,4/3/2000,Nam,Hà Nội,5.6,7.0,5.6,5.0,6.4,3.8,8.0,4.9,18.2
6,20205216,Võ Hoàng Yến,6/21/2000,Nữ,Nam Định,6.7,6.8,7.3,6.0,6.7,8.0,9.5,7.6,20.8
7,20205217,Hoàng Trung Sơn,8/27/2000,Nam,Bắc Ninh,7.5,9.0,7.0,2.0,5.2,2.0,7.0,6.5,23.5
8,20205218,Nguyễn Văn Thành,5/20/2000,Nam,Hà Nội,7.0,7.4,6.4,9.0,8.5,9.2,8.4,7.8,20.8
9,20205219,Nguyễn Thanh Oai,5/25/2000,Nam,Hà Nội,8.2,7.0,8.7,6.5,4.8,4.6,4.8,5.5,23.9

In [12]:
df = data.drop(columns=['Họ tên','Ngày sinh','Quê quán','Giới tính'])
df

   Mã học sinh  Toán   Lý  Hoá  Sinh  Văn  Sử   Địa  Tiếng Anh  Khối A
0     20205210   7.0  8.0  8.8   6.8  4.0  5.4  5.6        8.5    23.8
1     20205211   5.6  7.7  6.0   7.0  6.5  6.0  3.4        9.0    19.3
2     20205212   4.2  6.5  5.4   8.0  7.0  7.5  4.3        5.5    16.1
3     20205213   8.0  5.6  6.5   7.0  7.5  6.5  5.6        6.0    20.1
4     20205214   9.3  5.8  7.5   4.5  6.5  4.5  7.8        3.8    22.6
5     20205215   5.6  7.0  5.6   5.0  6.4  3.8  8.0        4.9    18.2
6     20205216   6.7  6.8  7.3   6.0  6.7  8.0  9.5        7.6    20.8
7     20205217   7.5  9.0  7.0   2.0  5.2  2.0  7.0        6.5    23.5
8     20205218   7.0  7.4  6.4   9.0  8.5  9.2  8.4        7.8    20.8
9     20205219   8.2  7.0  8.7   6.5  4.8  4.6  4.8        5.5    23.9

In [13]:
# Không lưu tiếng Việt
df.to_csv('Data/studentsA.csv',encoding='utf-8')

In [14]:
# Lưu tiếng Việt
df.to_csv('Data/studentsA.csv',encoding='utf-8-sig')

## Chỉnh sửa caấu trúc boộ dữ liệu

### Đổi tên cột index

In [15]:
df.head(3)

   Mã học sinh  Toán   Lý  Hoá  Sinh  Văn  Sử   Địa  Tiếng Anh  Khối A
0     20205210   7.0  8.0  8.8   6.8  4.0  5.4  5.6        8.5    23.8
1     20205211   5.6  7.7  6.0   7.0  6.5  6.0  3.4        9.0    19.3
2     20205212   4.2  6.5  5.4   8.0  7.0  7.5  4.3        5.5    16.1

In [16]:
df.rename(columns={'Văn':'Ngữ Văn','Tiếng Anh':'Anh Văn'},inplace=True)
df.head(3)

   Mã học sinh  Toán   Lý  Hoá  Sinh  Ngữ Văn  Sử   Địa  Anh Văn  Khối A
0     20205210   7.0  8.0  8.8   6.8      4.0  5.4  5.6      8.5    23.8
1     20205211   5.6  7.7  6.0   7.0      6.5  6.0  3.4      9.0    19.3
2     20205212   4.2  6.5  5.4   8.0      7.0  7.5  4.3      5.5    16.1

In [17]:
# df.rename(index={i:10*i for i in range(10)},inplace=True)
# df

## Thêm cột moi

In [20]:
df['Khối B'] = df['Toán']+df['Sinh']+df['Hoá']
df.head(3)

,Mã học sinh,Toán,Lý,Hoá,Sinh,Ngữ Văn,Sử,Địa,Anh Văn,Khối A,Khối B
0,20205210,7.0,8.0,8.8,6.8,4.0,5.4,5.6,8.5,23.8,22.6
1,20205211,5.6,7.7,6.0,7.0,6.5,6.0,3.4,9.0,19.3,18.6
2,20205212,4.2,6.5,5.4,8.0,7.0,7.5,4.3,5.5,16.1,17.6

In [21]:
df.insert(10,'Khối A1',pd.Series('10', index=df.index))
df.tail(3)

,Mã học sinh,Toán,Lý,Hoá,Sinh,Ngữ Văn,Sử,Địa,Anh Văn,Khối A,Khối A1,Khối B
7,20205217,7.5,9.0,7.0,2.0,5.2,2.0,7.0,6.5,23.5,10,16.5
8,20205218,7.0,7.4,6.4,9.0,8.5,9.2,8.4,7.8,20.8,10,22.4
9,20205219,8.2,7.0,8.7,6.5,4.8,4.6,4.8,5.5,23.9,10,23.4

## Thêm dòng vào cuối df