In [5]:
import pyodbc
import pandas as pd

In [6]:
conn = pyodbc.connect('Driver={SQL Server};'
                      'Server=DESKTOP-OQLFA92\SANGDANG;'
                      'Database=STUDENTS;'
                      'Trusted_Connection=yes;')
conn

In [7]:
df = pd.read_csv('Data/students1.csv')
df.head()

,Mã học sinh,Họ tên,Ngày sinh,Giới tính,Quê quán,Toán,Lý,Hóa,Sinh,Văn,Sử,Địa,Tiếng Anh
0,20205210,Nguyễn Đức Bình,3/10/2000,Nam,Hà Nội,7.0,8.0,8.8,6.8,4.0,5.4,5.6,8.5
1,20205211,Lê Minh Hoàng,2/11/2001,Nam,Quảng Bình,5.6,7.7,6.0,7.0,6.5,6.0,3.4,9.0
2,20205212,Trần Trang Nhung,7/5/2002,Nữ,Hà Nam,4.2,6.5,5.4,8.0,7.0,7.5,4.3,5.5
3,20205213,Nguyễn Thị Linh,12/17/2000,Nữ,Bắc Ninh,8.0,5.6,6.5,7.0,7.5,6.5,5.6,6.0
4,20205214,Đặng Ngọc Sơn,1/25/2000,Nam,Thái Bình,9.3,5.8,7.5,4.5,6.5,4.5,7.8,3.8

In [8]:
cursor = conn.cursor()
for i in df.index:
    gioitinh = 0 if df.iloc[i]['Giới tính'] == 'Nam' else 1
    try:
        query = r'INSERT [dbo].[STUDENTS] ([Mã học sinh], [Họ tên],[Ngày sinh],[Giới tính],[Quê quán],[Toán],[Lý],[Hóa],[Sinh],[Văn],[Sử],[Địa],[Tiếng Anh])'+\
                f"VALUES ({df.iloc[i]['Mã học sinh']},N'{df.iloc[i]['Họ tên']}','{df.iloc[i]['Ngày sinh']}',{gioitinh},N'{df.iloc[i]['Quê quán']}',{df.iloc[i]['Toán']},{df.iloc[i]['Lý']},{df.iloc[i]['Hóa']},{df.iloc[i]['Sinh']},{df.iloc[i]['Văn']},{df.iloc[i]['Sử']},{df.iloc[i]['Địa']},{df.iloc[i]['Tiếng Anh']})"
        cursor.execute(query)
    except Exception as e:
        print(e)
cursor.commit()
conn.close()

('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__STUDENTS__C1C16416C1CA6298'. Cannot insert duplicate key in object 'dbo.STUDENTS'. The duplicate key value is (20205210). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__STUDENTS__C1C16416C1CA6298'. Cannot insert duplicate key in object 'dbo.STUDENTS'. The duplicate key value is (20205211). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__STUDENTS__C1C16416C1CA6298'. Cannot insert duplicate key in object 'dbo.STUDENTS'. The duplicate key value is (20205212). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__STUDENTS__C1C16416C1CA6298'. Cannot insert duplicate key in object 'dbo.STUDENTS'. The duplicate key value is (20205213). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__STUDENTS__C1C16416C1CA6298'. Cannot insert duplicate key in object 'dbo.STUDENTS'. The duplicate key value is (20205214). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__STUDENTS__C1C16416C1CA6298'. Cannot insert duplicate key in object 'dbo.STUDENTS'. The duplicate key value is (20205215). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__STUDENTS__C1C16416C1CA6298'. Cannot insert duplicate key in object 'dbo.STUDENTS'. The duplicate key value is (20205216). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__STUDENTS__C1C16416C1CA6298'. Cannot insert duplicate key in object 'dbo.STUDENTS'. The duplicate key value is (20205217). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__STUDENTS__C1C16416C1CA6298'. Cannot insert duplicate key in object 'dbo.STUDENTS'. The duplicate key value is (20205218). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__STUDENTS__C1C16416C1CA6298'. Cannot insert duplicate key in object 'dbo.STUDENTS'. The duplicate key value is (20205219). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__STUDENTS__C1C16416C1CA6298'. Cannot insert duplicate key in object 'dbo.STUDENTS'. The duplicate key value is (20205220). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__STUDENTS__C1C16416C1CA6298'. Cannot insert duplicate key in object 'dbo.STUDENTS'. The duplicate key value is (20205221). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__STUDENTS__C1C16416C1CA6298'. Cannot insert duplicate key in object 'dbo.STUDENTS'. The duplicate key value is (20205222). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__STUDENTS__C1C16416C1CA6298'. Cannot insert duplicate key in object 'dbo.STUDENTS'. The duplicate key value is (20205223). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__STUDENTS__C1C16416C1CA6298'. Cannot insert duplicate key in object 'dbo.STUDENTS'. The duplicate key value is (20205224). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__STUDENTS__C1C16416C1CA6298'. Cannot insert duplicate key in object 'dbo.STUDENTS'. The duplicate key value is (20205225). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__STUDENTS__C1C16416C1CA6298'. Cannot insert duplicate key in object 'dbo.STUDENTS'. The duplicate key value is (20205226). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__STUDENTS__C1C16416C1CA6298'. Cannot insert duplicate key in object 'dbo.STUDENTS'. The duplicate key value is (20205227). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__STUDENTS__C1C16416C1CA6298'. Cannot insert duplicate key in object 'dbo.STUDENTS'. The duplicate key value is (20205228). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__STUDENTS__C1C16416C1CA6298'. Cannot insert duplicate key in object 'dbo.STUDENTS'. The duplicate key value is (20205229). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__STUDENTS__C1C16416C1CA6298'. Cannot insert duplicate key in object 'dbo.STUDENTS'. The duplicate key value is (20205230). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")