## Tá»”NG QUAN SQL

In [27]:
import pyodbc

In [28]:
conn = pyodbc.connect('Driver={SQL Server};'
                      'Server=DESKTOP-OQLFA92\SANGDANG;'
                      'Database=COVID19;'
                      'Trusted_Connection=yes;')

In [29]:
cursor = conn.cursor()
cursor.execute('SELECT top(5)* FROM vn_covid')

for i in cursor:
    print((i))

(1, 'Ha Noi', 945, 407, 518, 20)
(2, 'Ha Giang', 4, 1, 3, 0)
(3, 'Cao Bang', 0, 0, 0, 0)
(4, 'Bac Kan', 6, 6, 0, 0)
(5, 'Tuyen Quang', 1, 0, 1, 0)

#### Fetch

In [30]:
cursor = conn.cursor()
cursor.execute('SELECT top(5)* FROM vn_covid')

rows = cursor.fetchall()
rows

[(1, 'Ha Noi', 945, 407, 518, 20),
 (2, 'Ha Giang', 4, 1, 3, 0),
 (3, 'Cao Bang', 0, 0, 0, 0),
 (4, 'Bac Kan', 6, 6, 0, 0),
 (5, 'Tuyen Quang', 1, 0, 1, 0)]

In [31]:
cursor = conn.cursor()
cursor.execute('SELECT top(5)* FROM vn_covid')

rows = cursor.fetchone()
rows

(1, 'Ha Noi', 945, 407, 518, 20)

In [32]:
cursor = conn.cursor()
cursor.execute('SELECT top(5)* FROM vn_covid')

rows = cursor.fetchmany(3)
rows

[(1, 'Ha Noi', 945, 407, 518, 20),
 (2, 'Ha Giang', 4, 1, 3, 0),
 (3, 'Cao Bang', 0, 0, 0, 0)]

#### Extract Query Results to DataFrame
- read_sql_table

- read_sql_query

- read_sqsl

In [33]:
import pandas as pd

In [36]:
data = pd.read_sql('SELECT top(5)* FROM vn_covid',conn)
data

C:\Users\Admin-s\AppData\Local\Temp\ipykernel_2276\4285264524.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data = pd.read_sql('SELECT top(5)* FROM vn_covid',conn)

   id     province  infected  active  recovered  deaths
0   1       Ha Noi       945     407        518      20
1   2     Ha Giang         4       1          3       0
2   3     Cao Bang         0       0          0       0
3   4      Bac Kan         6       6          0       0
4   5  Tuyen Quang         1       0          1       0

In [ ]:
data = pd.read_sql_query('SELECT top(5)* FROM vn_covid',conn)
data

C:\Users\Admin-s\AppData\Local\Temp\ipykernel_2276\1295321688.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data = pd.read_sql_query('SELECT top(5)* FROM vn_covid',conn)

   id     province  infected  active  recovered  deaths
0   1       Ha Noi       945     407        518      20
1   2     Ha Giang         4       1          3       0
2   3     Cao Bang         0       0          0       0
3   4      Bac Kan         6       6          0       0
4   5  Tuyen Quang         1       0          1       0