# Bài 1

In [ ]:
import random
import pandas as pd

In [ ]:
numbers = [i for i in range(100)]

data = pd.Series(random.choice(numbers) for _ in range(100))
data

In [ ]:
# Tìm số lớn nhất
# Tìm số bé nhất
# Số lượng số nhỏ hơn giá trị trung bình?
# Số lượng số lớn hơn giá trị trung bình?
# Số lần xuất hiện của các số trong Series?
# Tính số lượng số chẵn
# Tính số lượng số lẻ
# Tính số lượng số âm, số dương?

In [ ]:
_max = data.values[0]
_min = data.values[0]
_sum = 0
for i in data.values:
    _sum += i
    if i > _max:
        _max = i
    if i < _min:
        _min = i
                
print(f'Số lớn nhất là {_max}')
print(f'Số bé nhất là {_min}')

In [ ]:
data.max()

In [ ]:
data.min()

In [ ]:
data.sum()

In [ ]:
average = _sum/(len(data.values))
print(average)

In [ ]:
# Giá trị trung bình
data.mean()

In [ ]:
print('Các số lớn hơn trung bình')
len(data[(data > average)])

In [ ]:
print('Các số nhỏ hơn trung bình')
len(data[(data < average)])

In [ ]:
# Tính số lượng số chẵn
print(f'Số lượng các số chẵn {len(data[(data%2==0)])}')

In [ ]:
# Tính số lượng số lẻ
print(f'Số lượng các số lẻ {len(data[(data%2!=0)])}')

In [ ]:
# Số lần xuất hiện của các số trong Series?
numbers = []
series = list(data.values)

for i in series:
    check = True
    for number in numbers:
        if i == number:
            check = False
            break
    
    if check:
        print (f'Số lần lặp lại của số {i} là {series.count(i)}')
        numbers.append(i)

In [ ]:
dicts = {i:0 for i in range(100)}

for i in data.values:
    if i in dicts.keys():
        dicts[i] +=1
        
result=sorted(dicts.items(), key = lambda x:x[1], reverse=True)
result = dict(result)
print(result)

# Bài 2

In [5]:
import pandas as pd
df = pd.read_excel("Data/students.xlsx")

In [6]:
df

,Mã học sinh,Họ tên,Ngày sinh,Quê quán,Toán,Lý,Hoá,Sinh,Văn,Sử,Địa,Tiếng Anh
0,20205210,Nguyễn Đức Bình,2000-03-10,Hà Nội,7.0,8.0,8.8,6.8,4.0,5.4,5.6,8.5
1,20205211,Lê Minh Hoàng,2001-02-11,Quảng Bình,5.6,7.7,6.0,7.0,6.5,6.0,3.4,9.0
2,20205212,Trần Trang Nhung,2002-07-05,Hà Nam,4.2,6.5,5.4,8.0,7.0,7.5,4.3,5.5
3,20205213,Nguyễn Thị Linh,2000-12-17,Bắc Ninh,8.0,5.6,6.5,7.0,7.5,6.5,5.6,6.0
4,20205214,Đặng Ngọc Sơn,2000-01-25,Thái Bình,9.3,5.8,7.5,4.5,6.5,4.5,7.8,3.8
5,20205215,Hà Trung Kiên,2000-04-03,Hà Nội,5.6,7.0,5.6,5.0,6.4,3.8,8.0,4.9
6,20205216,Võ Hoàng Yến,2000-06-21,Nam Định,6.7,6.8,7.3,6.0,6.7,8.0,9.5,7.6
7,20205217,Hoàng Trung Sơn,2000-08-27,Bắc Ninh,7.5,9.0,7.0,2.0,5.2,2.0,7.0,6.5
8,20205218,Nguyễn Văn Thành,2000-05-20,Hà Nội,7.0,7.4,6.4,9.0,8.5,9.2,8.4,7.8
9,20205219,Nguyễn Thanh Oai,2000-05-25,Hà Nội,8.2,7.0,8.7,6.5,4.8,4.6,4.8,5.5

In [7]:
df.shape

(10, 12)

In [9]:
df.head()

,Mã học sinh,Họ tên,Ngày sinh,Quê quán,Toán,Lý,Hoá,Sinh,Văn,Sử,Địa,Tiếng Anh
0,20205210,Nguyễn Đức Bình,2000-03-10,Hà Nội,7.0,8.0,8.8,6.8,4.0,5.4,5.6,8.5
1,20205211,Lê Minh Hoàng,2001-02-11,Quảng Bình,5.6,7.7,6.0,7.0,6.5,6.0,3.4,9.0
2,20205212,Trần Trang Nhung,2002-07-05,Hà Nam,4.2,6.5,5.4,8.0,7.0,7.5,4.3,5.5
3,20205213,Nguyễn Thị Linh,2000-12-17,Bắc Ninh,8.0,5.6,6.5,7.0,7.5,6.5,5.6,6.0
4,20205214,Đặng Ngọc Sơn,2000-01-25,Thái Bình,9.3,5.8,7.5,4.5,6.5,4.5,7.8,3.8

In [11]:
df.tail(7)

,Mã học sinh,Họ tên,Ngày sinh,Quê quán,Toán,Lý,Hoá,Sinh,Văn,Sử,Địa,Tiếng Anh
3,20205213,Nguyễn Thị Linh,2000-12-17,Bắc Ninh,8.0,5.6,6.5,7.0,7.5,6.5,5.6,6.0
4,20205214,Đặng Ngọc Sơn,2000-01-25,Thái Bình,9.3,5.8,7.5,4.5,6.5,4.5,7.8,3.8
5,20205215,Hà Trung Kiên,2000-04-03,Hà Nội,5.6,7.0,5.6,5.0,6.4,3.8,8.0,4.9
6,20205216,Võ Hoàng Yến,2000-06-21,Nam Định,6.7,6.8,7.3,6.0,6.7,8.0,9.5,7.6
7,20205217,Hoàng Trung Sơn,2000-08-27,Bắc Ninh,7.5,9.0,7.0,2.0,5.2,2.0,7.0,6.5
8,20205218,Nguyễn Văn Thành,2000-05-20,Hà Nội,7.0,7.4,6.4,9.0,8.5,9.2,8.4,7.8
9,20205219,Nguyễn Thanh Oai,2000-05-25,Hà Nội,8.2,7.0,8.7,6.5,4.8,4.6,4.8,5.5

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Mã học sinh  10 non-null     int64
 1   Họ tên       10 non-null     object
 2   Ngày sinh    10 non-null     datetime64[ns]
 3   Quê quán     10 non-null     object
 4   Toán         10 non-null     float64
 5   Lý           10 non-null     float64
 6   Hoá          10 non-null     float64
 7   Sinh         10 non-null     float64
 8   Văn          10 non-null     float64
 9   Sử           10 non-null     float64
 10  Địa          10 non-null     float64
 11  Tiếng Anh    10 non-null     float64
dtypes: datetime64[ns](1), float64(8), int64(1), object(2)
memory usage: 1.1+ KB

In [13]:
df.describe()

,Mã học sinh,Toán,Lý,Hoá,Sinh,Văn,Sử,Địa,Tiếng Anh
count,1.000000e+01,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000
mean,2.020521e+07,6.910000,7.080000,6.920000,6.180000,6.310000,5.750000,6.440000,6.510000
std,3.027650e+00,1.481328,1.015218,1.180207,1.966836,1.323673,2.147996,1.992319,1.674946
min,2.020521e+07,4.200000,5.600000,5.400000,2.000000,4.000000,2.000000,3.400000,3.800000
25%,2.020521e+07,5.875000,6.575000,6.100000,5.250000,5.500000,4.525000,5.000000,5.500000
50%,2.020521e+07,7.000000,7.000000,6.750000,6.650000,6.500000,5.700000,6.300000,6.250000
75%,2.020522e+07,7.875000,7.625000,7.450000,7.000000,6.925000,7.250000,7.950000,7.750000
max,2.020522e+07,9.300000,9.000000,8.800000,9.000000,8.500000,9.200000,9.500000,9.000000

In [15]:
# Có bao nhiêu học sinh oở từng tỉnh thành tham gia?
dicts = {}

for a in df['Quê quán']:
    if a in dicts.keys():
        dicts[a] += 1
    else:
        dicts[a] = 1
        
print(dicts)

{'Hà Nội': 4, 'Quảng Bình': 1, 'Hà Nam': 1, 'Bắc Ninh': 2, 'Thái Bình': 1, 'Nam Định': 1}

In [25]:
# Học sinh lớn tuổi nhất
a = df[['Họ tên','Ngày sinh']]
a[a['Ngày sinh'] == a['Ngày sinh'].min()]

          Họ tên  Ngày sinh
4  Đặng Ngọc Sơn 2000-01-25

In [27]:
# Học sinh lớn nhỏ nhất
a[a['Ngày sinh'] == a['Ngày sinh'].max()]

             Họ tên  Ngày sinh
2  Trần Trang Nhung 2002-07-05