# TIỀN XỬ LÝ DỮ LIỆU

### I. Tiền xử lý dữ liệu

### II.Làm sạch dữ liệu

#### 1.Kiểm tra dữ liệu khuyết thiếu

In [1]:
import numpy as np
import pandas as pd

###### Kiểm tra dữ liệu khuyết thiếu : isna(), isnull()
###### Kiểm tra dữ liệu không khuyết thiếu : notna(), notnull()

In [2]:
df = pd.DataFrame([[100, 6, np.nan], 
                  [9, 5, 12], 
                  [np.nan, np.nan, np.nan], 
                  [-3, 4, -200],
                  [2, 0, 7]])
df

       0    1      2
0  100.0  6.0    NaN
1    9.0  5.0   12.0
2    NaN  NaN    NaN
3   -3.0  4.0 -200.0
4    2.0  0.0    7.0

In [3]:
df.isna()
# True là vị trí thiếu

       0      1      2
0  False  False   True
1  False  False  False
2   True   True   True
3  False  False  False
4  False  False  False

In [4]:
df.notna()
# True là vị trí có giá trị

       0      1      2
0   True   True  False
1   True   True   True
2  False  False  False
3   True   True   True
4   True   True   True

In [5]:
df[df.columns[0]].isna()

0    False
1    False
2     True
3    False
4    False
Name: 0, dtype: bool

In [6]:
df.iloc[0].isna()

0    False
1    False
2     True
Name: 0, dtype: bool

#### 2.Xử lý dữ liệu khuyết thiếu

#####   Xóa dòng chứa ít nhất 1 giá trị bị khuyết thiếu: dropna()

In [7]:
df

       0    1      2
0  100.0  6.0    NaN
1    9.0  5.0   12.0
2    NaN  NaN    NaN
3   -3.0  4.0 -200.0
4    2.0  0.0    7.0

In [8]:
df.dropna()

     0    1      2
1  9.0  5.0   12.0
3 -3.0  4.0 -200.0
4  2.0  0.0    7.0

##### Xóa cột chứa ít nhất 1 giá trị khuyết thiếu dropna(axis=1)

In [9]:
df = pd.DataFrame([[100, 6, np.nan], 
                  [9, 5, 12], 
                  [np.nan, np.nan, np.nan], 
                  [-3, 4, -200],
                  [2, 0, 7]])
df.dropna(axis=1)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]

##### Xóa các dòng chứa toàn các giá trị khuyết thiếu dropna(how = 'all')

In [10]:
df = pd.DataFrame([[100, 6, np.nan], 
                  [9, 5, 12], 
                  [np.nan, np.nan, np.nan], 
                  [-3, 4, -200],
                  [2, 0, 7]])
df.dropna(how='all')

       0    1      2
0  100.0  6.0    NaN
1    9.0  5.0   12.0
3   -3.0  4.0 -200.0
4    2.0  0.0    7.0

##### Giữ lại những dòng có ít nhất n giá trị khuyết thiếu dropna(thresh=n)

In [11]:
df.dropna(thresh=1)

       0    1      2
0  100.0  6.0    NaN
1    9.0  5.0   12.0
3   -3.0  4.0 -200.0
4    2.0  0.0    7.0

##### Xóa những dòng nếu có dữ liệu khuyết thiếu trên một số cột nhất định: dropna(subet=[columns])

In [12]:
df = pd.DataFrame([[100, 6, np.nan], 
                  [9, 5, 12], 
                  [np.nan, np.nan, np.nan], 
                  [-3, 4, -200],
                  [2, 0, 7]])

In [13]:
df.dropna(subset=[0,2])

     0    1      2
1  9.0  5.0   12.0
3 -3.0  4.0 -200.0
4  2.0  0.0    7.0

##### Thay thế dữ liệu khuyết thiếu fillna()

##### Thay thế giá trị khuyết bằng 1 giá trị vô hướng fillna(value)
###### THay các số ít ảnh hưởng: 0 hoặc giá trị trung bình

In [14]:
df

       0    1      2
0  100.0  6.0    NaN
1    9.0  5.0   12.0
2    NaN  NaN    NaN
3   -3.0  4.0 -200.0
4    2.0  0.0    7.0

In [15]:
df.fillna(0)

       0    1      2
0  100.0  6.0    0.0
1    9.0  5.0   12.0
2    0.0  0.0    0.0
3   -3.0  4.0 -200.0
4    2.0  0.0    7.0

##### Thay thế giá trị khuyết bằng giá trị trước đó fillna(method='ffill')  kiểu dữ liệu chuỗi thời gian

In [16]:
df = pd.DataFrame([[100, 6, np.nan], 
                  [9, 5, 12], 
                  [np.nan, np.nan, np.nan], 
                  [-3, 4, -200],
                  [2, 0, 7]])

df.fillna(method = 'ffill')

       0    1      2
0  100.0  6.0    NaN
1    9.0  5.0   12.0
2    9.0  5.0   12.0
3   -3.0  4.0 -200.0
4    2.0  0.0    7.0

##### Thay thế giá trị khuyết bằng giá trị sau đó fillna(method='bfill')

In [ ]:
df.fillna(method='bfill')

       0    1      2
0  100.0  6.0   12.0
1    9.0  5.0   12.0
2   -3.0  4.0 -200.0
3   -3.0  4.0 -200.0
4    2.0  0.0    7.0

##### Thay thế giá trị khuyết bằng các giá trị xác định trên mỗi cột: fillna(value = {columns:value})

In [ ]:
df = pd.DataFrame([[100, 6, np.nan], 
                  [9, 5, 12], 
                  [np.nan, np.nan, np.nan], 
                  [-3, 4, -200],
                  [2, 0, 7]])

In [ ]:
df.fillna(value={0:100,2:200})

## III. Xử lý giá trị ngoại lai

### 1 Xác định dữ liệu ngoại lai

##### Phương pháp trực quan hóa Box plot, Scatter plot

In [ ]:
points = pd.DataFrame([[100, 6], [9, 5], [3, 5], [1,-200],[2, 0], [3, -4], [-2, 5], [-1, -10]], columns = ['X', 'Y'])
points

In [ ]:
import matplotlib.pyplot as plt

points.plot.scatter(x='X',y = 'Y',c='blue')